ion-content {
    --background: #FFF6F4;
    --color: #000000;
    --keyboard-offset: 0px;
    --offset-bottom: 0px;
    --offset-top: 0px;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;

    div {
        height: 100%;
        max-width: 500px;
        width: 100%;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div.header {
            height: auto;
            max-width: 500px;
            width: 100%;
            margin-inline: auto;
            img {
                height: 300px;
                width: 100%;
                object-fit: cover;
            }

            ion-title {
              --color: #050505;
              text-align: center;
              font-size: 1.75rem;
              font-weight: bold;
              margin-block: 10px;
            }

            p {
              color: #000000;
              text-align: center;
              font-size: 1rem;
              margin-block: 10px;
              width: 80%;
              margin-inline: auto;
              display: block;
            }

        }

        div.buttonContainer {
            height: auto;
            max-width: 500px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 50px;

            ion-button {
                --background: transparent;
                --background-activated: #c0c0c0;
                --background-hover: #c0c0c0;
                --border-color: transparent;
                --border-radius: 8px;
                --border-style: solid;
                --border-width: 8px;
                --color: #000000;
                --color-activated: #000000;
                --color-focused: #000000;
                --color-hover: #000000;
                --padding-bottom: 4px;
                --padding-end: 4px;
                --padding-start: 4px;
                --padding-top: 4px;
                --transition: background-color 15ms linear;
                height: 100%;
                max-width: 100%;
                width: 80%;
            }
        }
    }
}
