<ion-content [fullscreen]="true">
  <div>
    <div class="header">
      <img src="../../../assets/images/header app image.png">
      <ion-title>ABC ADVENTURE LAND</ion-title>
      <p>
        Discover into the world of letters, sounds, and words as you explore
        fun activities designed to boost your reading skills. From alphabet
        sounds to reading comprehension, letter matching to consonants and
        vowels. Let's learn together unlocking the new knowledge!
      </p>
    </div>
    <div class="buttonContainer">
      <ion-button fill="clear" shape="round" (click)="goToRegister()">
        <img src="../../../assets/images/guestLogin.png"/>
      </ion-button>
      <ion-button fill="clear" shape="round" (click)="goToAccounts()">
        <img src="../../../assets/images/signIn.png"/>
      </ion-button>
    </div>
  </div>
</ion-content>
