<ion-content [fullscreen]="true">
  <div>
    <div class="header">
      <img src="../../../assets/images/header app image.png">
      <ion-title>ABC ADVENTURE LAND</ion-title>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Perferendis et sunt quis incidunt libero suscipit, molestiae quisquam rem minus 
        corporis fugiat illo atque commodi quaerat at quasi. Odio, exercitationem excepturi.
      </p>
    </div>
    <div class="buttonContainer">
      <ion-button fill="clear" shape="round" (click)="goToRegister()">
        <img src="../../../assets/images/guestLogin.png"/>
      </ion-button>
      <ion-button fill="clear" shape="round">
        <img src="../../../assets/images/signIn.png"/>
      </ion-button>
    </div>
  </div>
</ion-content>
