<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/tabs/lectures"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">

  <ion-grid *ngIf="lessons.length > currentLessonIndex">
    <ion-row>
      <ion-col class="object1">
        <img [src]="'../../../../assets/images/lessonTwo/' + lessons[currentLessonIndex].object" alt="object1">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2 class="sentence">
          {{lessons[currentLessonIndex].sentence}}
        </h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2 class="question">
          {{lessons[currentLessonIndex].question}}
        </h2>
      </ion-col>
    </ion-row>

    <ion-row class="choices" *ngFor="let choice of lessons[currentLessonIndex].choices">
      <ion-col (click)="onChoiceClick()">
        <img [src]="choice.imgPath" [alt]="choice.choice">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
