<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/tabs/lectures"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">

<ion-grid>

<ion-row>
<ion-col class="object1">
<img src="../../../../assets/images/lessonTwo/rainbow.png" alt="object1">
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <h2 class="sentence">
      The colorful <span>rainbow</span> 
      is in the sky. It gives us light and warmth.
    </h2>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <h2 class="question">
      What is in the sky?
    </h2>
  </ion-col>
</ion-row>

<ion-row class="choices">
  <ion-col>
    <img src="../../../../assets/images/lessonTwoChoices/rainbow.png" alt="choices1">
  </ion-col>
</ion-row>
<ion-row class="choices">
  <ion-col>
    <img src="../../../../assets/images/lessonTwoChoices/sun.png" alt="choices1">
  </ion-col>
</ion-row>
<ion-row class="choices">
  <ion-col>
    <img src="../../../../assets/images/lessonTwoChoices/clouds.png" alt="choices1">
  </ion-col>
</ion-row>

</ion-grid>

</ion-content>
