<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/tabs/lectures"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-segment value="vowels" (ionChange)="selectSegment($event)">
    <ion-segment-button value="vowels">
      <ion-label>VOWELS</ion-label>
    </ion-segment-button>
    <ion-segment-button value="consonants">
      <ion-label>CONSONANTS</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="grid" *ngIf="displayContent() === 'vowels'">
    <img [src]="letter.letterImgPath" *ngFor="let letter of vowels" (click)="openLessonOnePlay(letter)">
  </div>
  <div class="grid" *ngIf="displayContent() === 'consonants'">
    <img [src]="letter.letterImgPath" *ngFor="let letter of consonants" (click)="openLessonOnePlay(letter)">
  </div>
</ion-content>
