<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-title>Quizzes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="../../../assets/images/quiz1.png" alt="quiz 1 image">
    <ion-card-content>
      <ion-card-title>Matching Pairs</ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../../assets/images/quiz2.png" alt="quiz 1 image">
    <ion-card-content>
      <div>
        <ion-card-title>Fill in the Blank</ion-card-title>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
