<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="end">Quizzes</ion-title>
    <ion-avatar slot="start" style="border: 2px #4E63DD solid; margin-left: 20px; padding: 10px;">
      <img [src]="currentAccount.avatarImagePath" style="border-radius: 0;">
    </ion-avatar>
    <span style="margin-left: 10px; font-size: 1.2rem; font-weight: bold;">Hello, {{currentAccount.username}}</span>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card (click)="openInstruction('quiz-one')">
    <img src="../../../assets/images/Quiz1MatchingPairs.png" alt="quiz 1 image">
    <ion-card-content>
      <ion-card-title>Matching Pairs</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="openInstruction('quiz-two')">
    <img src="../../../assets/images/Quiz2FillintheBlanks.png" alt="quiz 2 image">
    <ion-card-content>
      <ion-card-title>Fill in the Blanks</ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>
