div.birthdayContainer {
    height: fit-content;
    max-width: 500px;
    width: 100%;
    margin-inline: auto;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);

    ion-label {
        --color: #000000;
        font-size: 2rem;
        font-weight: bold;
        margin-inline: 5%;
    }

    .birthdaySelector {
        height: fit-content;
        max-width: 500px;
        width: 90%;
        margin-inline: auto;
        margin-block: 20px;

        ion-datetime {
            --padding-bottom: 4px;
            --padding-end: 4px;
            --padding-start: 4px;
            --padding-top: 4px;
            --placeholder-color: #FDA12E;
            background-color: #FFF6F4;
            margin-inline: auto;
        }
    }

    #nextButton {
        height: fit-content;
        width: 100%;

        ion-button {
            --background: transparent;
            --background-activated: transparent;
            --background-activated-opacity: 1;
            --background-focused: transparent;
            --background-focused-opacity: 1;
            --background-hover: transparent;
            --background-hover-opacity: 1;
            --border-color: transparent;
            --border-radius: 8px;
            --border-style: solid;
            --border-width: 8px;
            --color: #ffffff;
            --color-activated: #ffffff;
            --color-focused: #ffffff;
            --color-hover: #ffffff;
            --opacity: 1;
            --padding-bottom: 4px;
            --padding-end: 4px;
            --padding-start: 4px;
            --padding-top: 4px;
            --transition: background-color 15ms linear;
            height: 100px;
            max-width: 500px;
            width: 80%;
            display: block;
            margin: auto;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}