<div class="selectAvatar">
  <div class="inputName">
    <ion-label>What is your Name?</ion-label>
    <ion-input type="text" placeholder="Your Name"></ion-input>
  </div>
  <div class="avatars">
    <ion-label>Select your Avatar</ion-label>
    <div class="avatarSelector">
      <ion-avatar>
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
      </ion-avatar>
      <ion-avatar>
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
      </ion-avatar>
      <ion-avatar>
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
      </ion-avatar>
      <ion-avatar>
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
      </ion-avatar>
      <ion-avatar>
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
      </ion-avatar>
      <ion-avatar>
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
      </ion-avatar>
      <ion-avatar>
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
      </ion-avatar>
      <ion-avatar>
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
      </ion-avatar>
      <ion-avatar>
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
      </ion-avatar>
    </div>
  </div>
  <div id="createButton">
    <ion-button fill="clear" (click)="goToMainPage()">
      <img src="../../../assets/images/guestLogin.png" />
    </ion-button>
  </div>
</div>
