.selectAvatar {
    height: fit-content;
    max-width: 500px;
    width: 100%;
    margin-inline: auto;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);

    .inputName {
        margin-bottom: 20px;

        ion-label {
            --color: #000000;
            font-size: 1.5rem;
            font-weight: bold;
            margin-left: 5%;
        }

        ion-input {
            --background: #FFF6F4;
            --color: #000000;
            --padding-bottom: 5px;
            --padding-end: 10px;
            --padding-start: 10px;
            --padding-top: 5px;
            --placeholder-color: #9c9c9c;
            --placeholder-font-style: initial;
            --placeholder-font-weight: initial;
            --placeholder-opacity: 0.5;
            border: #9C9C9C solid 3px;
            border-radius: 2px;
            font-size: 1.5rem;
            max-width: 500px;
            width: 90%;
            margin-inline: auto;
            margin-block: 10px;
        }
    }

    .avatars {
        text-align: center;

        ion-label {
            --color: #000000;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .avatarSelector {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            row-gap: 20px;
            place-items: center;
            margin-top: 20px;
            margin-bottom: 50px;
        }

    }

    #createButton {
        height: fit-content;
        width: 100%;

        ion-button {
            --background: transparent;
            --background-activated: transparent;
            --background-activated-opacity: 1;
            --background-focused: transparent;
            --background-focused-opacity: 1;
            --background-hover: transparent;
            --background-hover-opacity: 1;
            --border-color: transparent;
            --border-radius: 8px;
            --border-style: solid;
            --border-width: 8px;
            --color: #ffffff;
            --color-activated: #ffffff;
            --color-focused: #ffffff;
            --color-hover: #ffffff;
            --opacity: 1;
            --padding-bottom: 4px;
            --padding-end: 4px;
            --padding-start: 4px;
            --padding-top: 4px;
            --transition: background-color 15ms linear;
            height: 100px;
            max-width: 500px;
            width: 80%;
            display: block;
            margin: auto;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}