<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="imgobject1">
        <img src="../../../assets/images/instruction/instructionl1object.png">
      </ion-col>  
    </ion-row>
  
    <ion-row>
      <ion-col class="title-one">
        {{lessonTitle}}<br>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col class="title-two">
        {{lessonDescription}}
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col class="title-three">
        Instructions: 
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col class="title-four">
        {{instructions}}
      </ion-col>
    </ion-row>
  
    <ion-row class="startButton">
      <ion-col class="ion-text-center">
        <img src="../../../assets/images/start.png" (click)="close()">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
