
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="imgobject1">
        <img src="../../../assets/images/instruction/instructionl1object.png">
      </ion-col>  
    </ion-row>
  
    <ion-row>
      <ion-col class="title-one">
        Lesson 1<br>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col class="title-two">
        Find matching pairs of letters!
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col class="title-three">
        Instructions: 
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col class="title-four">
        Tap one card, then another 
        to find the matching pair of letters. Keep matching 
        until you've paired them all!
      </ion-col>
    </ion-row>
  
    <ion-row class="startButton">
      <ion-col class="ion-text-center">
        <img src="../../../assets/images/start.png" (click)="close()">
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
  