<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
    <ion-button fill="clear" shape="round" slot="end" id="optionButton">
      <ion-icon src="../../../assets/icon/settings icon.svg"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <div class="profile">
    <div class="imgProfile">
      <img [src]="currentAccount.avatarImagePath">
    </div>
    <div class="nameProfile">
      <h1>{{currentAccount.username}}</h1>
      <ion-button fill="clear" id="edit-profile">
        <ion-icon src="../../../assets/icon/edit.svg"></ion-icon>
      </ion-button>
    </div>
    <div class="average">
      <ion-card>
        <ion-card-content>
          <ion-card-title>{{(calculateProgress('overall lesson') * 100).toFixed(2) + '%'}}</ion-card-title>
          <ion-card-subtitle>Lectures</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-card-title>{{(calculateProgress('overall quiz') * 100).toFixed(2) + '%'}}</ion-card-title>
          <ion-card-subtitle>Quizzes</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-header>

<!--Profile Edit Modal-->
<ion-modal #editProfile trigger="edit-profile">
  <ng-template>

    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="editProfile.dismiss()" expand="block" fill="clear" shape="round">
            <ion-icon name="arrow-back-outline" style="font-size: 1.5rem;"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center" style="margin: 0; margin-right: 50px;">Edit Profile</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>

      <form #form="ngForm" style="margin-top: 50px;" class="ion-padding">

        <!--Email Input-->
        <div style="display: flex; align-items: center;" class="ion-padding-bottom">
          <ion-label style="margin-inline-end: 10px; font-size: 1.15rem; font-weight: bold;">Email:</ion-label>
          <ion-input
            type="text"
            placeholder="Email"
            required
            name="email"
            [(ngModel)]="model.email"
            style="
              border: #050505 solid 2px;
              border-radius: 10px;
              --padding-start: 10px;
              --padding-end: 10px
            "
            ></ion-input>
        </div>

        <!--Password Input-->
        <div style="display: flex; align-items: center;" class="ion-padding-bottom">
          <ion-label style="margin-inline-end: 10px; font-size: 1.15rem; font-weight: bold;">Password:</ion-label>
          <ion-input
            type="text"
            placeholder="Password"
            required
            name="password"
            [(ngModel)]="model.password"
            style="
              border: #050505 solid 2px;
              border-radius: 10px;
              --padding-start: 10px;
              --padding-end: 10px
            "
            ></ion-input>
        </div>

        <!--Username Input-->
        <div style="display: flex; align-items: center; margin-bottom: 50px;" class="ion-padding-bottom">
          <ion-label style="margin-inline-end: 10px; font-size: 1.15rem; font-weight: bold;">Username:</ion-label>
          <ion-input
            type="text"
            placeholder="Username"
            required
            name="username"
            [(ngModel)]="model.username"
            style="
              border: #050505 solid 2px;
              border-radius: 10px;
              --padding-start: 10px;
              --padding-end: 10px
            "
            ></ion-input>
        </div>

        <!--Gender Radio Button-->
        <ion-list style="background-color: #FFF6F4;">
          <ion-radio-group name="gender" required value="boy" (ionChange)="selectedGender($event)" [(ngModel)]="model.gender" style="display: flex; flex-wrap: wrap; justify-content: space-evenly; background-color:#FFF6F4; margin-bottom: 50px;">
            <ion-list-header style="padding: 0;">
              <ion-label style="font-size: 1.15rem; font-weight: bold; color: #050505;">Character For:</ion-label>
            </ion-list-header>
            <div class="gender-choices">
              <img src="../../../assets/images/boy.png" alt="boy image" height="50">
              <div>
                <ion-radio value="boy"></ion-radio>
              </div>
            </div>
            <div class="gender-choices">
              <img src="../../../assets/images/girl.png" alt="girl image" height="50">
              <div>
                <ion-radio value="girl"></ion-radio>
              </div>
            </div>
          </ion-radio-group>
        </ion-list>

        <!--Birthday Input-->
        <div style="margin-bottom: 50px;">
          <ion-label style="margin-inline-end: 10px; font-size: 1.15rem; font-weight: bold;">Birthday:</ion-label>
          <div style="display: flex; align-items: center;" class="ion-margin-top">
            <!--Month-->
            <ion-select name="month" [(ngModel)]="monthModel" placeholder="Month" required (ionChange)="validateBirthday()" style="width: fit-content; max-width: 150px; border: #050505 solid 2px; border-radius: 10px; --padding-start: 10px; --padding-end: 10px; background-color: #f5f5f5;">
              <ion-select-option *ngFor="let month of months" [value]="month">{{ month }}</ion-select-option>
            </ion-select>

            <span style="font-size: 1.5rem; font-weight: bold; color: transparent;">/</span>
            <!--Day-->
            <ion-select name="day" [(ngModel)]="dayModel" placeholder="Day" required style="width: fit-content; max-width: 150px; border: #050505 solid 2px; border-radius: 10px; --padding-start: 10px; --padding-end: 10px; background-color: #f5f5f5;">
              <ion-select-option *ngFor="let day of days" [value]="day">{{ day }}</ion-select-option>
            </ion-select>

            <span style="font-size: 1.5rem; font-weight: bold; color: transparent;">/</span>
            <!--Year-->
            <ion-select name="year" [(ngModel)]="yearModel" placeholder="Year" required (ionChange)="validateBirthday()" style="width: fit-content; max-width: 150px; border: #050505 solid 2px; border-radius: 10px; --padding-start: 10px; --padding-end: 10px; background-color: #f5f5f5;">
              <ion-select-option *ngFor="let year of years" [value]="year">{{ year }}</ion-select-option>
            </ion-select>
          </div>

        </div>

        <!--Avatar Selection-->
        <div style="margin-bottom: 50px; width: 100%; max-width: 600px; margin-inline: auto;">
          <ion-label style="margin-inline-end: 10px; font-size: 1.15rem; font-weight: bold;">Pick your Avatar:</ion-label>
          <div
            class="ion-padding-top"
            style="
              height: fit-content;
              width: 100%;
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              place-items: center;
              gap: 10px;
            "
          >
            <ion-avatar
              *ngFor="let pics of profilePictures; let i = index"
              style="
                height: 100px;
                min-height: 100px;
                max-height: 150px;
                width: 100px;
                min-width: 100px;
                max-width: 150px;
                border: #050505 solid 3px;
                padding: 15px;
              "
              class="selected"
              (click)="selectAvatar(i, pics)"
              [class.selected]="i === selectedAvatarIndex"
            >
              <img
                [src]="pics"
                style="
                  height: 100%;
                  width: 100%;
                  border-radius: 0px;
                  object-fit: contain;
                  object-position: center;
                "
              />
            </ion-avatar>
          </div>
        </div>

        <div style="height: auto; width: 100%; max-width: 600px; margin-inline: auto;">
          <ion-button (click)="updateProfile(form)" fill="clear" shape="round"
          style="
            height: 100%;
            width: 100%;
          "
          >
            <img src="../../../assets/images/saveChanges.png" alt="">
          </ion-button>
        </div>
        <div style="height: auto; width: 100%; max-width: 600px; margin-inline: auto;">
          <ion-button (click)="deleteProfile(this.currentAccount.id)" fill="clear" shape="round"
          style="
            height: 100%;
            width: 100%;
          "
          >
            <img src="../../../assets/images/deleteProfile.png" alt="">
          </ion-button>
        </div>

      </form>

    </ion-content>

  </ng-template>
</ion-modal>
<!--End of Edit Profile Modal-->

<app-options trigger="optionButton"></app-options>

<ion-content [fullscreen]="true">
  <!--Contents-->

  <div class="label">
    <ion-title>Lectures</ion-title>
  </div>

  <ion-card>
    <div style="height: 75%; width: 100%;">
      <img src="../../../assets/images/Lesson1Alphabets.png" alt="lesson 1 image">
    </div>
    <ion-card-content>
      <div>
        <h1>Lesson 1</h1>
        <h1>{{(calculateProgress('lesson 1') * 100).toFixed(2) + '%'}}</h1>
      </div>
      <ion-progress-bar [value]="calculateProgress('lesson 1')"></ion-progress-bar>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div style="height: 75%; width: 100%;">
      <img src="../../../assets/images/Lesson2ReadingComprehension.png" alt="lesson 2 image">
    </div>
    <ion-card-content>
      <div>
        <h1>Lesson 2</h1>
        <h1>{{(calculateProgress('lesson 2') * 100).toFixed(2) + '%'}}</h1>
      </div>
      <ion-progress-bar [value]="calculateProgress('lesson 2')"></ion-progress-bar>
    </ion-card-content>
  </ion-card>

  <div class="label">
    <ion-title>Quizzes</ion-title>
  </div>

  <ion-card>
    <div style="height: 75%; width: 100%;">
      <img src="../../../assets/images/Quiz1MatchingPairs.png" alt="quiz 1 image">
    </div>
    <ion-card-content>
      <div>
        <h1>Quiz 1</h1>
        <h1>{{(calculateProgress('quiz 1') * 100).toFixed(2) + '%'}}</h1>
      </div>
      <ion-progress-bar [value]="calculateProgress('quiz 1')"></ion-progress-bar>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div style="height: 75%; width: 100%;">
      <img src="../../../assets/images/Quiz2FillintheBlanks.png" alt="quiz 2 image">
    </div>
    <ion-card-content>
      <div>
        <h1>Quiz 2</h1>
        <h1>{{(calculateProgress('quiz 2') * 100).toFixed(2)}}</h1>
      </div>
      <ion-progress-bar [value]="calculateProgress('quiz 2')"></ion-progress-bar>
    </ion-card-content>
  </ion-card>

</ion-content>
