<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="quizzes">
      <ion-icon src="../../../assets/icon/quiz icon.svg"></ion-icon>
      <ion-label>Quizzes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="lectures">
      <ion-icon src="../../../assets/icon/lecture icon.svg"></ion-icon>
      <ion-label>Lectures</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon src="../../../assets/icon/profile icon.svg"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
