
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/quizzes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>


<ion-content [fullscreen]="true">

  <ion-text>
    <h2>
      Missing Vowel: C-V-C Pattern<br>Take a guess!
    </h2>
  </ion-text>

  <img src="../../../../assets/images/pig.png" class="illustration">

  <ion-grid>
    <ion-row>
      <ion-col class="letterOne">P</ion-col>
      <ion-col class="letterTwo">___</ion-col>
      <ion-col class="letterThree">G</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col class="choice" size="12">
        <img src="../../../../assets/images/quiz-choices/capsA-inactive.png" alt="Choice 1">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="choice" size="12">
        <img src="../../../../assets/images/quiz-choices/capsE-inactive.png" alt="Choice 2">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="choice" size="12">
        <img src="../../../../assets/images/quiz-choices/capsI-inactive.png" alt="Choice 3">
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
