ion-toolbar {
  --background: #FFF6F4;
  --border-color: #FFF6F4;
  --border-style: solid;
  --border-width: 8px;
  --color: #000000;
  --min-height: 56px;
  --padding-bottom: 4px;
  --padding-end: 4px;
  --padding-start: 4px;
  --padding-top: 4px;
}

ion-content {
  --background: #FFF6F4;
  --color: #000000;
}

ion-text {
    display: flex;
    justify-content: center;
  }
  
  h2 {
    color: #000000;
    font-size: 1.5em;
    font-weight: medium;
    margin: 0;
    text-align: center; 
    padding: 30px 10px 0; 
  }

  .illustration {
    max-width: 250px;
    width: 100%; 
    margin: 15px auto; 
    display: block; 
  }

  .letterOne, .letterTwo, .letterThree {
    font-size: 2em;
    display: flex;
    align-items: center; 
  }
  
  .letterOne {
    justify-content: flex-end; 
  }
  
  .letterTwo {
    justify-content: center;
  }
  
  .letterThree {
    justify-content: flex-start;
  }

  .choice {
    display: flex;
    justify-content: center;
    padding: 15px;
  }
  
  .choice img {
    width: 90px;
  }
  


  