<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="landing"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 1.5rem; font-weight: bold; margin-right: 48px;" class="ion-text-center">Profiles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div
    style="height: fit-content; width: 100%; max-width: 600px; margin-inline: auto; display: grid; grid-template-columns: repeat(3, 1fr); place-items: center; gap: 10px;"
  >
    <div class="profiles" *ngFor="let account of accountsList" (click)="loginProfile(account);">
      <ion-avatar style="height: 100px; width: 100px; border: 5px black solid; display: block; padding: 15px; margin: auto;">
        <img [src]="account.avatarImagePath" style="border-radius: 0px;">
      </ion-avatar>
      <ion-text style="width: 100%; display: block; text-align: center; margin-top: 5px; font-size: 1.25rem; font-weight: bold;">
        <span>{{account.username}}</span>
      </ion-text>
    </div>
  </div>

  <div style="height: auto; width: 100%; max-width: 600px; margin-inline: auto; margin-top: 50px;">
    <ion-button (click)="goToRegister()" fill="clear" shape="round"
    style="
      height: 100%;
      width: 100%;
    "
    >
      <img src="../../../assets/images/addProfile.png" alt="">
    </ion-button>
  </div>

</ion-content>
