<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="landing"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 1.5rem; font-weight: bold; margin-right: 48px;" class="ion-text-center">Profiles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div
    class="ion-padding"
    style="height: fit-content; width: 100%; max-width: 600px; margin-inline: auto; display: grid; grid-template-columns: repeat(3, 1fr); place-items: center; gap: 10px;"
  >
    <div class="profiles" *ngFor="let account of accountsList" (click)="loginProfile(account);">
      <ion-avatar style="height: 100px; width: 100px; border: 3px black solid; display: block; margin: auto;">
        <img [src]="account.avatarImagePath" style="padding: 10px; border-radius: 0px;">
      </ion-avatar>
      <ion-text style="width: 100%; display: block; text-align: center; margin-top: 5px; font-size: 1.25rem; font-weight: bold;">
        <span>{{account.username}}</span>
      </ion-text>
    </div>
  </div>
  <ion-button
    expand="block"
    shape="round"
    style="width: 100%; max-width: 600px; font-size: 1.25rem; font-weight: bold; margin-top: 50px; margin-inline: auto;" class="ion-padding"
    (click)="goToRegister()"
    >
    <ion-text style="padding: 10px; color:#f5f5f5;">
      <span>ADD PROFILE</span>
    </ion-text>
    <ion-icon name="add-circle-sharp" style="font-size: 2rem; font-weight: bold; color: #f5f5f5;"></ion-icon>
  </ion-button>

</ion-content>
