<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lectures</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <a routerLink="../../lesson-one">
    <ion-card>
      <img src="../../../assets/images/Lesson1Alphabets.png" alt="lesson 1 image">
      <ion-card-content>
        <ion-card-title>Alphabet</ion-card-title>
      </ion-card-content>
    </ion-card>
  </a>

  <ion-card>
    <img src="../../../assets/images/Lesson2ReadingComprehension.png" alt="lesson 1 image">
    <ion-card-content>
      <ion-card-title>Reading Comprehension</ion-card-title>
    </ion-card-content>
  </ion-card>
  
</ion-content>
