ion-toolbar {
  --background: #ffffff;
  --border-color: #ffffff;
  --border-style: solid;
  --border-width: 8px;
  --color: #000000;
  --min-height: 56px;
  --opacity: 1;
  --padding-bottom: 4px;
  --padding-end: 4px;
  --padding-start: 4px;
  --padding-top: 4px;
}

h2 {
  color: #000000;
  font-size: 1.5em;
  font-weight: medium;
  margin: 0;
  padding-top: 50px;
  padding-left: 30px;
}


ion-grid{
  margin-top: 25%;
}

ion-col {
  display: flex;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
}

ion-col img {
  width: 130px;
  height: auto; 
  display: block; 
  margin: 5px auto;
}

.checkButton{
  width: 300px;
  margin: 0 auto; 
  position: absolute; 
  bottom: 20px;
  left: 0;  
  right: 0;

}

.checkButton img{
  max-width: 300px;
  height: auto;
  align-self: flex-end;

}



