<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/tabs/quizzes"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>

  <ion-text>
    <h2>
      Tap the matching pair.
    </h2>
  </ion-text>

  <div style="height: fit-content; width: 100%; max-width: 600px; margin-inline: auto;">
    <div style="width: 100%; max-width: 600px; display: flex; justify-content: space-evenly; align-items: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <div class="left-side">
        <div *ngFor="let btn of quizzes[currentQuizIndex].images[0].left; let i = index" class="ion-margin-bottom">
          <img [src]="btn.image" alt="buttons" (click)="selected(i, 'left')" id="btns" [class.selected]="i === selectedLeftIndex">
        </div>
      </div>
      <div class="right-side">
        <div *ngFor="let btn of quizzes[currentQuizIndex].images[1].right; let i = index" class="ion-margin-bottom">
          <img [src]="btn.image" alt="buttons" (click)="selected(i, 'right')" id="btns" [class.selected]="i === selectedRightIndex">
        </div>
      </div>
    </div>
  </div>

  <img src="../../../../assets/images/checkblue.png" class="checkButton" (click)="onCheckButtonClick(quizzes[currentQuizIndex].images[0].left, quizzes[currentQuizIndex].images[1].right)">

</ion-content>
